* {
	margin: 0;
	padding: 0;
}

body {
    background: rgb(255, 255, 255);
    background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(208, 208, 208, 1) 71%,
    rgba(159, 159, 159, 1) 100%
    );
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    height: 60px;
}

header a {
    text-decoration: none;
}

.logo-you {
	font-family: "Pacifico", cursive;
	font-size: 3rem;
	color: #000;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.logo-book {
	color: #232323;
}

#time {
    font-size: 3rem;
    font-family: "Roboto Mono", monospace;
}

.container-search {
	border: 1px solid black;
	border-radius: 90px;
	padding: 10px;
}

#search {
	padding: 10px;
	font-size: 20px;
	border: none;
	outline: none;
}

.search-button {
	margin-right: 5px;
	font-size: 20px;
	background-color: transparent;
	border: none;
}

.search-button:hover {
	cursor: pointer;
}

hr {
	margin: 30px;
}

.container-books {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 10px;
	margin: 30px;
}

.book {
    font-family: "Roboto Mono", monospace;
	text-decoration: none;
	font-size: 20px;
	text-align: center;
    padding: 30px
}

.book:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
    transition: all 0.3s;
}

.book img {
	width: 200px;
	height: 300px;
    padding-top: 20px;
}

footer a {
    font-size: 30px;
    font-family: "Poetsen One", sans-serif;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

footer a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

footer a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer a:visited {
    color: #000;
}

@media (max-width: 830px) {
    header {
        height: 30px;
    }

    .logo-you, #time, .to-contact {
        font-size: 2rem;
    }

	.container-search {
		padding: 8px;
	}

	#search {
		font-size: 15px;
		padding: 8px;
	}

    .search-button {
        font-size: 15px;
    }
    footer a{
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    header {
        height: 10px;
    }

    .logo-you, #time, .to-contact {
        font-size: 1rem;
    }

	.container-search {
		padding: 4px;
	}

	#search {
		font-size: 8px;
		padding: 3px;
	}

	.search-button {
		font-size: 10px;
	}
	footer a {
		font-size: 15px;
	}
}
